body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    text-align: center;
    padding: 10px;
}

.header-score1 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-score2 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.board {
    text-align: center;
    padding-bottom: 20px;
}

.result {
    padding-bottom: 20px;
}

.history {
    padding: 0;
    margin: 0;
}

.history-row {
    display: block;
    padding: 10px;
    list-style: none;
}

.txt-emphasize {
    font-weight: 700;
}

.button-hand {
    background: none;
    border: none;
    transition: color .3s linear 0s;
    border-radius: 50%;
    background: #ccc;
    padding: 10px;
    text-decoration: none;
    color: #000;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    margin: 0 5px 20px;
}

.button-hand:hover {
    opacity: 1;
    transition: opacity .3s linear 0s;
}

.button-link {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #eae9eb;
    text-decoration: none;
    transition-duration: .15s;
    transition-property: color, background, border;
    transition-timing-function: linear;
    padding: 0;
}

.button-link:hover {
    border-color: #64b5f6;
    color: #33343b;
    outline: none;
    cursor: pointer;
}

.hide-visually {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
